$black: #010409;
$white: #ffffff;
$gray-1: #f0f6fc;
$gray-2: #c9d1d9;
$gray-3: #b1bac4;
$gray-4: #8b949e;
$gray-5: #6e7681;
$gray-6: #484f58;
$gray-7: #30363d;
$gray-8: #21262d;
$gray-9: #161b22;
$gray-10: #0d1117;
$blue-1: #cae8ff;
$blue-2: #a5d6ff;
$blue-3: #79c0ff;
$blue-4: #58a6ff;
$blue-5: #388bfd;
$blue-6: #1f6feb;
$blue-7: #1158c7;
$blue-8: #0d419d;
$blue-9: #0c2d6b;
$blue-10: #051d4d;
$green-1: #aff5b4;
$green-2: #7ee787;
$green-3: #56d364;
$green-4: #3fb950;
$green-5: #2ea043;
$green-6: #238636;
$green-7: #196c2e;
$green-8: #0f5323;
$green-9: #033a16;
$green-10: #04260f;
$yellow-1: #f8e3a1;
$yellow-2: #f2cc60;
$yellow-3: #e3b341;
$yellow-4: #d29922;
$yellow-5: #bb8009;
$yellow-6: #9e6a03;
$yellow-7: #845306;
$yellow-8: #693e00;
$yellow-9: #4b2900;
$yellow-10: #341a00;
$orange-1: #ffdfb6;
$orange-2: #ffc680;
$orange-3: #ffa657;
$orange-4: #f0883e;
$orange-5: #db6d28;
$orange-6: #bd561d;
$orange-7: #9b4215;
$orange-8: #762d0a;
$orange-9: #5a1e02;
$orange-10: #3d1300;
$red-1: #ffdcd7;
$red-2: #ffc1ba;
$red-3: #ffa198;
$red-4: #ff7b72;
$red-5: #f85149;
$red-6: #da3633;
$red-7: #b62324;
$red-8: #8e1519;
$red-9: #67060c;
$red-10: #490202;
$purple-1: #eddeff;
$purple-2: #e2c5ff;
$purple-3: #d2a8ff;
$purple-4: #bc8cff;
$purple-5: #a371f7;
$purple-6: #8957e5;
$purple-7: #6e40c9;
$purple-8: #553098;
$purple-9: #3c1e70;
$purple-10: #271052;
$pink-1: #ffdaec;
$pink-2: #ffbedd;
$pink-3: #ff9bce;
$pink-4: #f778ba;
$pink-5: #db61a2;
$pink-6: #bf4b8a;
$pink-7: #9e3670;
$pink-8: #7d2457;
$pink-9: #5e103e;
$pink-10: #42062a;
$coral-1: #ffddd2;
$coral-2: #ffc2b2;
$coral-3: #ffa28b;
$coral-4: #f78166;
$coral-5: #ea6045;
$coral-6: #cf462d;
$coral-7: #ac3220;
$coral-8: #872012;
$coral-9: #640d04;
$coral-10: #460701;


$primary: $white;
$danger:  $red-4;
$success: $green-2;
$warning: $yellow-2;
$info:    $blue-4;
$text:    $gray-1;

$bg: $gray-10;
